body {
    background-color: grey;
}

header { 
    background-color: black;
    border: solid greenyellow;
    margin-bottom: 10px;
}

h1 {
    color: greenyellow;
    text-align: center;
}

h2 {
    text-align: center;
}

section { 
    width: 50%;
    height: 288px;
    margin: 2px;
    background-color: greenyellow;
    border: 3px solid black;
}

div {
    display: flex;
}


main {
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

p {
    padding: 30px;
    text-align: center;
}


footer {
    background-color: black;
    border: solid greenyellow;
    color: greenyellow;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    /* display: inline-block; */
}