body {
    background-color: grey;
}

header { 
    background-color: black;
    border: solid greenyellow;
    width: 45%;
    margin: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    color: greenyellow;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 10px 0px;
}

section { 
    width: 50%;
    height: 288px;
    margin: 2px;
    background-color: greenyellow;
    border: 3px solid black;
}

.top1 {
    display: flex;
}

.top2 {
    display: flex;
}

.bottomSection {
    width: 80%;
    margin: auto;
}

main {
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

p {
    padding: 30px;
    text-align: center;
}

footer {
    background-color: black;
    border: solid greenyellow;
    color: greenyellow;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 10px;
    /* display: inline-block; */
}

.liEd {
    font-size: 13px;
    list-style-type: disc;
    width: 90%;
    margin: auto;
}

#work {
    list-style-type: disc;
    width: 80%;
    margin: auto;
}

.title {
    list-style: circle;
    list-style-position: inside;
}

.game {
    list-style-type: decimal;
    width: 50%;
    margin: auto;
}
